# .gitignore
# eclipse project file
.project

# LaTex files
.aux
.tex
.texlipse
.bbl
.blg
.log
.toc
/chapter3.aux
/chapter4.aux
/chapter5.aux
/chapter6.aux
/preamble.log
/LinkeroReport.aux
/LinkeroReport.log
/LinkeroReport.toc
/abstract.aux
/chapter1.aux
/chapter2.aux
/title.aux
/LinkeroReport.bbl
/LinkeroReport.blg
/acknowledgements.aux
/declaration.aux
/LinkeroReport.lof
/LinkeroReport.lot
